body, div, span,h1, h2, h3, h4, h5, h6, p,pre, a, em, img, q, ul, li, table,section {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    font-smoothing:antialiased;
    -webkit-font-smoothing:antialiased;
}
@font-face {
    font-family: Corbel;
    src:url('../fonts/corbel3.ttf'); 
}
@font-face {
    font-family: Bodoni;
    src:url('../fonts/Bodoni.ttf');
}
@font-face {
    font-family: Futura;
    src:url('../fonts/Futura-Medium.ttf'); 
}
@font-face {
    font-family: SuperiorTitle;
    src:url('../fonts/SuperiorTitle-Bold.ttf');
}
.fontC{
  font-family:Corbel, Microsoft Yahei, STHeiti, Arial;
}
.fontB{
  font-family:Bodoni, Microsoft Yahei, STHeiti, Arial;
  text-transform: uppercase;
}
.fontF{
  font-family:Futura, Microsoft Yahei, STHeiti, Arial;
}
.fontS{
  font-family:SuperiorTitle, Microsoft Yahei, STHeiti, Arial;
  text-transform: uppercase;
}
body {
    text-align: left;
    font-family:Corbel, Microsoft Yahei, STHeiti, Arial;
    line-height: 1.5;
    background: white;
    font-family: "Futura";
    color: #252525;
    padding: 0;
}
body,html{
  width: 100%;
  height: 100%;
}
li {
    list-style: none;
}

a,
a:visited {
    text-decoration: none;
    color: #000;
}

img {
    border: none;
}

.cf:after {
    clear: both;
    content: "";
    display: table;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
.cPointer{
  cursor: pointer;
}
.p-a{
  position: absolute;
}
.p-r{
  position: relative;
}
.hidden {
    visibility: hidden;
}
.show {
    visibility: visible;
}
.none {
    display: none!important;
}
.block {
    display: block!important;
}
.inline-block {
    display: inline-block;
}
.mcm{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.acm{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.middle{
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.center {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.vh-father {
    display: table;
    text-align: center;
    width: 100%;
    height: 100%;
}
.vh-p {
    display: table-cell;
    vertical-align: middle;
}
.bgimg{
  background-size: cover;
 background-position: center;
 background-repeat:no-repeat;

}
.col-sm-12,
.col-sm-11,
.col-sm-10,
.col-sm-9,
.col-sm-8,
.col-sm-7,
.col-sm-6,
.col-sm-5,
.col-sm-4,
.col-sm-3,
.col-sm-2,
.col-sm-1,
.col-lg-12,
.col-lg-11,
.col-lg-10,
.col-lg-9,
.col-lg-8,
.col-lg-7,
.col-lg-6,
.col-lg-5,
.col-lg-4,
.col-lg-3,
.col-lg-2,
.col-lg-1{
  float: left;
  position: relative;
}
.row{
  width: 100%; 
}
.row:after {
    clear: both;
    content: "";
    display: table;
}

/*自适应，所有网页的布局可最多可分为12列*/
/*平板-small*/
@media (max-width: 1025px) {  
      .col-sm-12 {
        width: 100%;
      }
      .col-sm-11 {
        width: 91.66666667%;
      }
      .col-sm-10 {
        width: 83.33333333%;
      }
      .col-sm-9 {
        width: 75%;
      }
      .col-sm-8 {
        width: 66.66666667%;
      }
      .col-sm-7 {
        width: 58.33333333%;
      }
      .col-sm-6 {
        width: 50%;
      }
      .col-sm-5 {
        width: 41.66666667%;
      }
      .col-sm-4 {
        width: 33.33333333%;
      }
      .col-sm-3 {
        width: 25%;
      }
      .col-sm-2 {
        width: 16.66666667%;
      }
      .col-sm-1 {
        width: 8.33333333%;
      }
      .col-sm-offset-12 {
        margin-left: 100%;
      }
      .col-sm-offset-11 {
        margin-left: 91.66666667%;
      }
      .col-sm-offset-10 {
        margin-left: 83.33333333%;
      }
      .col-sm-offset-9 {
        margin-left: 75%;
      }
      .col-sm-offset-8 {
        margin-left: 66.66666667%;
      }
      .col-sm-offset-7 {
        margin-left: 58.33333333%;
      }
      .col-sm-offset-6 {
        margin-left: 50%;
      }
      .col-sm-offset-5 {
        margin-left: 41.66666667%;
      }
      .col-sm-offset-4 {
        margin-left: 33.33333333%;
      }
      .col-sm-offset-3 {
        margin-left: 25%;
      }
      .col-sm-offset-2 {
        margin-left: 16.66666667%;
      }
      .col-sm-offset-1 {
        margin-left: 8.33333333%;
      }
      .col-sm-offset-0 {
        margin-left: 0;
      }       
}               
/*pc端 medium*/
@media (min-width: 1025px) {
      .col-lg-12 {
        width: 100%;
      }
      .col-lg-11 {
        width: 91.66666667%;
      }
      .col-lg-10 {
        width: 83.33333333%;
      }
      .col-lg-9 {
        width: 75%;
      }
      .col-lg-8 {
        width: 66.66666667%;
      }
      .col-lg-7 {
        width: 58.33333333%;
      }
      .col-lg-6 {
        width: 50%;
      }
      .col-lg-5 {
        width: 41.66666667%;
      }
      .col-lg-4 {
        width: 33.33333333%;
      }
      .col-lg-3 {
        width: 25%;
      }
      .col-lg-2 {
        width: 16.66666667%;
      }
      .col-lg-1 {
        width: 8.33333333%;
      } 
      .col-lg-offset-12 {
        margin-left: 100%;
      }
      .col-lg-offset-11 {
        margin-left: 91.66666667%;
      }
      .col-lg-offset-10 {
        margin-left: 83.33333333%;
      }
      .col-lg-offset-9 {
        margin-left: 75%;
      }
      .col-lg-offset-8 {
        margin-left: 66.66666667%;
      }
      .col-lg-offset-7 {
        margin-left: 58.33333333%;
      }
      .col-lg-offset-6 {
        margin-left: 50%;
      }
      .col-lg-offset-5 {
        margin-left: 41.66666667%;
      }
      .col-lg-offset-4 {
        margin-left: 33.33333333%;
      }
      .col-lg-offset-3 {
        margin-left: 25%;
      }
      .col-lg-offset-2 {
        margin-left: 16.66666667%;
      }
      .col-lg-offset-1 {
        margin-left: 8.33333333%;
      }
      .col-lg-offset-0 {
        margin-left: 0;
      }     
}