.btn-p {
	text-transform: uppercase;
}
.base-Btn{
	font-family:Corbel, Microsoft Yahei, STHeiti, Arial;
    font-size: 12px;
    display: inline-block;
    line-height: 1;
    letter-spacing: 0.1em;
    min-width: 200px;
    text-align: center;
    transition: all 100ms;
    border: solid 1px #535353;
    background: #535353;
    color: #fff;
    padding: 8px 0;
    cursor: pointer;
}
.base-Btn:hover {
    background: #fff;
    border: solid 1px #fff;
    color: #252525;
}

/* 
<div class="boxType1-component bgimg">
    <a href="/" class="lookbook-linkbox acm">
        <p class="btn-p p-24">Fall winter 16/17</p>
        <p class="btn-p p-16">MOTIVI FIABESCHI</p>
    </a>
</div>
 */

.boxType1-component>.maskBox{
    width: 90%;
    max-width: 300px;
    height: 80px;
	background: #535353;
    text-align: center;
	color: #fff;	
    padding: 10px 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.boxType1-component>.maskBox>.p-24{
	font-family:Bodoni, Microsoft Yahei, STHeiti, Arial;
    text-transform: uppercase;
}

.boxType1-component>.maskBox>.p-16{
	font-family:Corbel, Microsoft Yahei, STHeiti, Arial;
}

/* 
<div class="boxType2-component">
    <div class="boxImg"></div>
    <div class="boxText">
        <p class="btn-p p-26">标题</p>
        <p class="p-12">日期</p>
        <p class="p-12 margin-5">正文</p>
        <a href="" class="margin-15">
            <div class="base-Btn">Decouvrir</div>
        </a>
    </div>
</div>
 */


.boxType2-component>.boxText{
	padding: 20px;
}

.boxTextContent3{
    font-size: 12px;
    line-height: 1.6;
    font-family: Futura, Microsoft Yahei, STHeiti, Arial;
    margin-bottom: 40px;
    margin-top: 20px;
    height: 56.2px;
    overflow: hidden;
}
.boxTextContent2{
    font-size: 12px;
    line-height: 1.6;
    font-family: Futura, Microsoft Yahei, STHeiti, Arial;
    margin-bottom: 40px;
    margin-top: 20px;
    padding:0 20px;
    height: 56.2px;
    overflow: hidden;
}
.boxTextContent4{
	font-size: 12px;
    line-height: 1.6;
    font-family: Futura, Microsoft Yahei, STHeiti, Arial;
    margin-bottom: 40px;
    margin-top: 20px;
    padding:0 20px;
    height: 56.2px;
    overflow: hidden;
}
	.boxTextContent5 {
	    font-size: 12px;
	    line-height: 1.6;
	    font-family: Futura, Microsoft Yahei, STHeiti, Arial;
	    margin-bottom: 40px;
	    margin-top: 20px;
	    height: 192.2px;
	    overflow: hidden;
	}
@media (min-width: 1025px){
	.boxType1-component{
		background-size: cover;
		background-position: center;
		background-repeat:no-repeat;
		height: 382px;
		position: relative;
	}
	.boxType1-component,.boxType2-component{
		width: calc(50% - 40px);
		display: inline-block;
	}
	.section-container>.boxType1-component:last-child,.section-container>.boxType2-component:last-child{
		margin-left:80px;
	}
	.boxType2-component>.border20{
		border:40px solid #e4e4e4;
	}
	.boxType2-component>.boxImg{
		height: 382px;
		position: relative;
		background-size: cover;
		background-position: center;
		background-repeat:no-repeat;
	}
	.boxType3-component>.boxText{
		height: 520px;
	    float: left;
	    width: 30%;
	    text-align: left;
	    position: relative;
	}
	.boxType3-component>.boxText>.textWarrper{
		position: absolute;
	    top: 50%;
	    -webkit-transform: translate(0,-50%);
	    transform: translate(0,-50%);
	}
	.boxType3-component>.boxPic{
		float: right;
		width: calc(70% - 80px);
		height: 520px;
		background-position: center;
		background-repeat:no-repeat;
	}

	.boxType4-component>.boxText{
	    width: 30%;
	    float: left;
	    display: table;
	    height: 520px;
	    background-color: #e4e4e4;
	}
	.boxType4-component>.boxText>.textWarrper{
	    width: 100%;
	    display: table-cell;
	    vertical-align: middle;
	}
	.boxType4-component>.boxPic{
		float: left;
		width:70%;
		margin-left: 70%;
		height: 520px;
		background-position: center;
		background-repeat:no-repeat;
	}
	
	.boxType5-component>.boxText{
		height: 520px;
	    float: left;
	    width: 35%;
	    text-align: left;
	    position: relative;
	    padding:40px;
	}
	.boxType5-component>.boxText>.textWarrper{
	    width: calc(100% - 80px);
		position: absolute;
	    top: 50%;
	    -webkit-transform: translate(0,-50%);
	    transform: translate(0,-50%);
	}
	.boxType5-component>.boxPic{
		float: right;
		width: 65%;
		height: 520px;
		background-position: center;
		background-repeat:no-repeat;
	}
	.section-container.boxType5-component{
		padding-top: 0;
	} 
	.section-container.boxType5-component>.boxText {
		background-color: #e4e4e4;
	} 

	
	
}
@media (max-width: 1025px){
	.boxType1-component{
		background-size: cover;
		background-position: center;
		background-repeat:no-repeat;
		height: 200px;
		position: relative;
	}
	.boxType1-component,.boxType2-component{
	    width: calc(100% - 40px);
	    margin: 20px;
	    display: inline-block;
	}
	.section-container>.boxType1-component:last-child,.section-container>.boxType2-component:last-child{
		margin-top: 0;
	}


	.boxType2-component>.boxText{
		padding:20px;
		text-align: center;
	}
	.boxType2-component>.boxImg{
		height: 200px;
		position: relative;
		background-size: cover;
		background-position: center;
		background-repeat:no-repeat;
	}
	.boxType2-component>.border20{
		border:none;
	}


	.boxType3-component>.boxText{
		text-align: center;
		padding:0 20px 20px;
	}
	.boxType3-component>.boxPic{
		border:20px solid #e4e4e4;
		height: 250px;
	}



	.boxType4-component>.boxText{
		text-align: center;
		padding:0 20px 20px;
		background-color: #fff;
	}
	.boxType4-component>.boxPic{
		border:20px solid #e4e4e4;
		height: 250px;
	}
	#contact a{
		display: none;
	}
}