

@media (min-width: 1025px){
	.boxType5-component:nth-child(even)>.boxText {
	    float: right;
	    text-align: left;
	}
	.boxType5-component:nth-child(even)>.boxPic {
	    float: left;
	    width: 100%;
	    height: 250px;
	    background-position: center;
	    background-repeat: no-repeat;
	}
}
@media (max-width: 1025px){
	
	.boxType5-component>.boxText {
	    text-align: center;
	    background-color: #e4e4e4;
	}
	.boxType5-component>.boxPic {
	    width: 100%;
	    height: 250px;
	    background-position: center;
	    background-repeat: no-repeat;
	    border: 20px solid #e4e4e4;
	}
	.base-Btn{
    	margin-bottom: 40px;
	}

}