/**/
.scale{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    transition: all 0.4s;

}
.scale:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.card:hover .card-img {
    background-size: 120% 120%;
}
.card-img {
        display: inline-block;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    overflow: hidden;
    -webkit-transition: background-size 0.4s;
            transition: background-size 0.4s;
}

.videoClose,#sliderPlay{
    cursor: pointer;
}
#sliderVideo{
    width: 100%;
    height: calc(100% - 130px);
    margin: 65px 0;
}
#slider {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
}

#indexSliderBox ,#lookbookSliderBox{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-left: 0;
    position: absolute;
}

#indexSliderBox>li ,#lookbookSliderBox>li{
    transition: all 0.2s;
    height: 100%;
    width: 100%;
    background-size: cover;
    float: none;
    display: block;
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    text-align: center;
    /*background-attachment: fixed;*/
}
.shadow{
        width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
#point {
    position: absolute;
    display: inline-block;
    bottom: 25px;
    left: 50%;
    -webkit-transform: translateX(-56%);
    transform: translateX(-56%);
    font-size: 60px;
    z-index: 1000;
}

#point span {
    float: left;
    margin-left: 10px;
    border: solid 1px #fff;
    height: 8px;
    width: 8px;
    padding: 7px;
    background: transparent;
    border: solid 2px #fff;
    border-radius: 50%;
}

#point .on {
    background: #ffffff;
}

.p-48 {
    font-size: 48px;
}

.p-40 {
    font-size: 40px;
}

.p-32 {
    font-size: 32px;
}

.p-26 {
    font-size: 26px;
}

.p-24 {
    font-size: 24px;
}

.p-22 {
    font-size: 22px;
}

.p-16 {
    font-size: 16px;
}

.p-12 {
    font-size: 12px;
}

.margin-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.margin-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.padding-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.paddingH-80 {
    padding-left: 80px;
    padding-right: 80px;
}

.marginB40 {
    margin-bottom: 40px;
}

#container {
    width: 100%;
    height: 100%;
}

.fullPages {
    position: relative;
    width: 100%;
}

.fullPages>section {
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#index {
    position: relative;
}

.index-banner {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}

.menu-component {
    border-bottom: solid 1px #ccc;
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: table;
    padding-left: 40px;
    padding-right: 40px;
    position: fixed;
    width: 100%;
    z-index: 1001;
    transform: translate3d(0, 0, 0);
    transition: height 100ms;
}

.menu-component .menu-inner-wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    padding-left: 40px;
    padding-right: 40px;
}

.menu-component .menu-mobile-trigger {
    border: 0;
    background: 0;
    display: none;
    height: 45px;
    width: 45px;
    padding: 0;
    vertical-align: middle;
    outline: 0;
    position: relative;
    z-index: 10;
}

.menu-component .menu-mobile-trigger:before,
.menu-component .menu-mobile-trigger:after {
    content: '';
    height: 3px;
    background: #252525;
    position: absolute;
    top: 50%;
    width: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
}

.menu-component .menu-mobile-trigger.open:before {
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
}

.menu-component .menu-mobile-trigger:before {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.menu-component .menu-mobile-trigger.open:after {
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
}

.menu-component .menu-mobile-trigger:after {
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
}

.menu-component .menu-logo-wrapper {
    display: inline-block;
    vertical-align: middle;
}

.menu-component .menu-logo-wrapper a {
    width: 100%;
}

.menu-component .menu-logo-wrapper .menu-logo {
    display: block;
    width: 100%;
    max-width: 177px;
    margin: 0 auto;
}

.menu-component .menu-item-list-wrapper {
    display: inline-block;
    height: 100%;
    margin-right: -8px;
    width: 70%;
    width: calc(90% - 177px);
    vertical-align: middle;
}

.menu-component .menu-item-list {
    position: relative;
    text-align: center;
    top: 0;
}

.menu-component .menu-item-list .menu-item {
    cursor: pointer;
    display: inline-block;
    line-height: 65px;
    padding: 0 20px;
    vertical-align: middle;
    position: relative;
}

.menu-component .menu-item-list .menu-item .menu-item-anchor {
    display: block;
    text-decoration: none;
}

.menu-component .menu-item-list .menu-item,
.submenu-component .submenu-list-item,
.footerMenuList li>a {
    font-family: Futura;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.menu-component .menu-item-list-overlay {
    display: none;
}

.menu-component .menu-language-selector {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    width: 10%;
    font-size: 12px;
}

.dropdown-component .component-btn-group {
    padding: 10px;
    border: solid 1px transparent;
    text-align: left;
}

.btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.footerMenuBox,
.footerFollowBox {
    position: relative;
    margin: 0 80px;
    width: calc(100% - 160px);
}

.footerFollowBox {
    border-bottom: 1px solid #c0c0c0;
}

.footerMenuBox {
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}

.footerBox>.topBox {
    margin-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 70px;
}

.footerBox>.topBox>.topWarrper {
    height: 50px;
    margin: 0 auto;
    width: 50px;
    text-align: center;
    cursor: pointer;
}

.footerFollowBox>p {
    padding: 20px 0;
    font-family: Futura, Microsoft Yahei, STHeiti, Arial;
}

.footerFollowBox {
    padding: 50px 0;
    text-align: center;
}

.footerFollowList li {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.footerFollowList li+li {
    margin-left: 7px;
}

.footerFollowList {
    margin: 0 auto;
}

.footerFollowList li a img {
    display: block;
    height: 48px;
    width: 48px;
}

.copyright>span {
    font-size: 12px;
}

#titleBox>.title {
    text-align: center;
    line-height: 130px;
    font-size: 32px;
    font-family: SuperiorTitle, Microsoft Yahei, STHeiti, Arial;
    text-transform: uppercase;
}

#titleBox>.breadBox {
    margin: 0 80px;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    width: calc(100% - 160px);
    font-size: 12px;
    font-family: Futura, Microsoft Yahei, STHeiti, Arial;
}



.divselect {
    border: 1px solid #fff;
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
}

.divselect cite {
    width: 88px;
    text-transform: uppercase;
    height: 24px;
    line-height: 24px;
    display: block;
    color: #807a62;
    font-style: normal;
    text-align: center;
    padding-left: 4px;
    padding-right: 30px;
    cursor: pointer;
    background: url('../images/black-toDown.png') no-repeat 95% center;
}

.divselect ul {
    width: 88px;
    background-color: #ffffff;
    display: none;
}

.divselect ul li {
    height: 24px;
    line-height: 24px;
    text-align: center;
}

.divselect ul li a {
    display: block;
    height: 24px;
    color: #333333;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.divselect ul li a:hover {
    text-decoration: underline;
}

#slider {
    width: 100%;
    height: 150px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
}

#sliderBox {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-left: 0;
    position: absolute;
}

#sliderBox>li {
    height: 100%;
    width: 8.3%;
    background-size: cover;
    float: none;
    display: block;
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
}

#point .on {
    background: #ffffff;
}

#videPlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, .3);
    z-index: 9999;
    top: 0;
}

.videoClose {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}

.menuList>a {
    display: block;
}

.menu-active {
    text-decoration: line-through!important;
}

.menu-component .menu-item-list .menu-item {
    padding: 0 23px;
}

.menu-item-content-wrapper {
    display: none;
    position: absolute;
    width: 500px;
    transform: translateX(-50%);
    background: #fff;
    top: 66px;
}

.menuList {
    width: 40%;
    float: left;
    height: 260px;
    font-family: Corbel, Microsoft Yahei, STHeiti, Arial;
}

.menuShow {
    width: 50%;
    float: right;
    height: 350px;
    margin: 5%;
}

.menuMask {
    width: 100%;
    max-width: 300px;
    background: #535353;
    color: #fff;
    padding: 10px 0;
    margin-top: 80%;
}

.menuMask>.p-24 {
    font-family: SuperiorTitle, Microsoft Yahei, STHeiti, Arial;
    text-transform: uppercase;
    line-height: 30px;
}

.menuMask>.p-16 {
    line-height: 20px;
    font-family: Futura, Microsoft Yahei, STHeiti, Arial;
}

.bannerBtn {
    margin: 40px 0 60px 0;
    font-family: Corbel, Microsoft Yahei, STHeiti, Arial;
    font-size: 12px;
    display: inline-block;
    line-height: 1;
    letter-spacing: 0.1em;
    min-width: 200px;
    text-align: center;
    transition: all 100ms;
    background: #fff;
    border: solid 1px #fff;
    color: #252525;
    padding: 8px 0;
    cursor: pointer;
}

.bannerBtn:hover {
    border: solid 1px #535353;
    background: #535353;
    color: #fff;
}

.bannerMask {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -65px);
    z-index: 0;
    text-align: center;
}

.bannerMask p {
    word-wrap: break-word;
    color: #ffffff;
    padding: 0 5px;
}

.footerBox {
    width: 100%;
    background: #fff;
    max-width: 1440px;
    margin: 0 auto;
}

.footerMenuBox {
    text-align: left;
}

#titleBox>.breadBox {
    text-align: left;
    line-height: 65px;
    vertical-align: middle;
    position: relative;
}

#titleBox>.breadBox>span {
    color: #c0c0c0;
}

#titleBox>.breadBox>a {
    color: #000;
}

#titleBox>.breadBox>a:hover {
    text-decoration: underline;
}

.menuDown {
    display: none;
}
.loadingBox{
    position: relative;
}
.loadImg{
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate3D(-50%,-50%,0);
}
@media (min-width: 1025px) {
    .section-container {
        padding: 80px;
        font-size: 0;
        text-align: center;
        position: relative;
    }
   
    .footerMenuList {
        width: 80%;
        display: inline-block;
    }
    .footerMenuBox {
        height: 66px;
        font-size: 0;
    }
    .footerLangList {
        width: 20%;
        display: inline-block;
        height: 80px;
        font-size: 12px;
        vertical-align: middle;
        text-align: right;
        position: relative;
    }
    .footerMenuList li {
        cursor: pointer;
        float: left;
        line-height: 65px;
        padding: 0 20px;
        vertical-align: middle;
        position: relative;
    }
    .footerMenuList li:first-child {
        padding-left: 0;
    }
    .footerMenuList li:last-child {
        padding-right: 0;
    }
    .copyright {
        padding-left: 80px;
        padding-right: 80px;
        line-height: 70px;
    }
    .copyright>span:first-child {
        float: left;
    }
    .copyright>span:last-child {
        float: right;
    }
    #titleBox {
        margin-bottom: 80px;
    }
    .footerMenuBox,
    .footerFollowBox {
        position: relative;
        margin: 0 80px;
        width: calc(100% - 160px);
    }
}

@media (max-width: 1025px) {
    .footerMenuBox,
    .footerFollowBox {
        margin: 0;
        position: relative;
        width: 100%;
    }
    #container {
        min-width: 375px;
    }
    .bannerMask {
        display: none;
    }
    .menu-component {
        border-bottom: solid 1px #ccc;
        height: 65px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .menu-component .menu-inner-wrapper {
        padding-left: 0;
        padding-right: 0;
    }
    .menu-component .menu-logo-wrapper {
        width: 80%;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        text-align: center;
        left: -3%;
    }
    .menu-component .menu-logo-wrapper .menu-logo {
        max-width: 150px;
    }
    .menu-component .menu-mobile-trigger {
        display: inline-block;
    }
    .menu-component .menu-item-list-wrapper.open {
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        visibility: visible;
        transition: visibility 0ms linear 0ms;
        z-index: 1;
    }
    .menu-component .menu-item-list-wrapper .menu-item-list .menu-item {
        display: block;
        height: auto;
        line-height: 65px;
        overflow: hidden;
        padding: 0;
        text-align: left;
    }
    .menu-component .menu-item-list-wrapper .menu-item-list .menu-item .menu-item-anchor {
        border-bottom: solid 1px #ccc;
        display: block;
        vertical-align: middle;
        padding-left: 20px;
    }
    .menu-component .menu-item-list-wrapper {
        background: transparent;
        overflow-y: hidden;
        width: 100%;
        top: 65px;
        left: 0;
        padding: 0;
        position: absolute;
        visibility: hidden;
        transition: visibility 0 linear 400ms;
    }
    .menu-component .menu-item-list-wrapper .menu-item-list {
        height: auto;
        min-height: 100%;
        width: 320px;
        background: #fff;
        padding-bottom: 65px;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        transition: -webkit-transform 200ms ease-in 0ms;
        transition: transform 200ms ease-in 0ms;
        transition: transform 200ms ease-in 0ms, -webkit-transform 200ms ease-in 0ms;
    }
    .menu-component .menu-item-list-wrapper.open .menu-item-list {
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
        transition: -webkit-transform 200ms ease-in 200ms;
        transition: transform 200ms ease-in 200ms;
        transition: transform 200ms ease-in 200ms, -webkit-transform 200ms ease-in;
    }
    .menu-component .menu-item-list-wrapper .menu-item-list .menu-item .menu-item-anchor {
        border-bottom: solid 1px #ccc;
        display: block;
        vertical-align: middle;
        padding-left: 20px;
    }
    .menu-component .menu-item-list-overlay {
        display: block;
        transition: background 200ms linear 0ms, visibility 0ms linear 200ms;
        background: transparent;
        position: absolute;
        height: 100vh;
        top: 65px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
        visibility: hidden;
    }
    .menu-component .menu-item-list-wrapper.open+.menu-item-list-overlay {
        transition: background 200ms linear 0.621118ms, visibility linear;
        visibility: visible;
        background: rgba(0, 0, 0, 0.6);
    }
    .menu-component .menu-language-selector,
    .menuShow,
    .menu-item-content-wrapper {
        display: none;
    }
    .menuDown {
        width: 40px;
        background-image: url("../images/black-toDown.png");
        height: 40px;
        position: absolute;
        right: 0;
        top: 30px;
        background-repeat: no-repeat;
    }
    .menu-item-content-wrapper {
        margin-left: 95px;
    }
    .footerMenuList {
        width: 50%;
        display: inline-block;
    }
    .footerLangList {
        width: 50%;
        display: inline-block;
        height: 80px;
        font-size: 12px;
        vertical-align: middle;
        text-align: right;
        position: relative;
        float: right;
    }
    .footerMenuList li {
        cursor: pointer;
        text-align: left;
        padding: 10px 20px 0 20px;
    }
    .footerFollowList {
        max-width: 400px;
        width: 100%;
    }
    .copyright {
        text-align: center;
        margin: 20px 0;
    }
    .copyright>span {
        display: block;
    }
    #titleBox>.breadBox {
        display: none;
    }
    #titleBox {
        margin-bottom: 40px;
    }
    video {
        width: 100%;
    }
}
