.textContent{
	text-align: center;
}
.concent{

}
@media (min-width: 1025px){
	.concent{
	    width: 60%;
	    max-width: 700px;
	    text-align: center;
	    margin: 20px auto;
	}
	.section-container.boxType3-component>.boxText {
		background-color: #e4e4e4;
		width: 35%;
		height: 350px;
		display: table;
	}
	.section-container.boxType3-component>.boxText>.textWarrper{
		 display: table-cell;
    	vertical-align: middle;
    	padding:40px;
	}
	.titleBox{
		margin-bottom: 40px;
	}
	.boxType3-component{
		margin-top: 40px;
	}
	.boxType3-component:nth-child(odd)>.boxText {
	    float: right;
	    right: 0;
	    text-align: left;
	    position: absolute;
	    top: 50%;
	    -webkit-transform: translate(0,-50%);
	    transform: translate(0,-50%);
	}
	.boxType3-component:nth-child(odd)>.boxPic {
	    float: left;
	    width: 65%;
	    height: 350px;
	    margin-left: 0;
	    background-position: center;
	    background-repeat: no-repeat;
	}

}
@media (max-width: 1025px){
	.concent{
		width: 100%;
		padding:20px;
	}
	.section-container.boxType3-component>.boxText {
		background-color: #e4e4e4;
	}
	.boxType3-component{
		display: none;
	}
}